<!DOCTYPE html>
<html lang="en">
<head>
    
    
    @*//////////////////////////////////////////////////////////////////////////////////////////////////
    
        GoogleMaps Web Api keys: 
    MyBrowserApiKey 	3 авг. 2016 г. 	Браузер 	AIzaSyC8dms3PGSUNSNRK6x1flVI0pFmQzO0sSk
    ILandLordApiKey 	3 авг. 2016 г. 	Сервер 	AIzaSyCNvpwmlrEbyWeWz-8Q6-uMBWxlUnYEoz0
    
    //////////////////////////////////////////////////////////////////////////////////////////////////*@
    
    <title>МиФ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

 
    <script>

       

        $(document).ready(function () {
            $(window).scrollTop($('#mainID').offset().top).scrollLeft($('#mainID').offset().left);
        });
       
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });


        $(function () {

            function GetSongText() {

                var id = $("#songID").val();
                //$("#Reg").load("/Region_DDL_/GetCities/" + id);
                //$.ajax({
                //    type: 'GET',
                //    url: '/Region_DDL_/GetCities/', 
                //    data: id,
                //    success: function (data) {
                //        $('#Reg').html(data);
                //    }
                //});

                $.ajax({
                    type: 'POST',
                    url: '/Home/GetSong/',
                    data: { id: id },
                    success: function (data) {
                        $('#Song').html(data);
                    }
                });


            }

            GetSongText();

            $("#songID").change(function () {

                GetSongText();

            });
        });




    </script>
    
</head>

<body>
    
    @*<a style="visibility: hidden" ></a>*@
    <!-- Navbar for desktop -->
    <div id="start">
        <nav class="navbar navbar-default bg-4 hidden-xs hidden-sm">
            <div class="navbar navbar-inverse bg-4 navbar-fixed-top">
                <div class="container bg-4">
                    
                    <div class="navbar-collapse collapse bg-4">
                        <ul class="nav navbar-nav">
                            <li><a class="scroll" href="#first">"Земля круглая"</a></li>
                            <li><a class="scroll" href="#second">"Закон притяжения"</a></li>
                            <li><a class="scroll" href="#accords">Тексты/Аккорды</a></li>
                            <li><a class="scroll" href="#about">О группе</a></li>
                        </ul>

                        @Html.Partial("_LoginPartial")   @*!!!!!!!Авторизация*@
                        <div #id="auth"></div>

                    </div>
                </div>
            </div>
        </nav>

        <!-- vertical navbar for mobiles and tablets -->
        <nav class="navbar navbar-default bg-4 hidden-lg hidden-md hidden-print">
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li><a class="scroll" href="#first">"Земля круглая"</a></li>
                        <li><a class="scroll" href="#second">"Закон притяжения"</a></li>
                        <li><a class="scroll" href="#accords">Тексты/Аккорды</a></li>
                        <li><a class="scroll" href="#about">О группе</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- First Container -->
    <div id="mainID" class="container-fluid bg-3 text-center">
        @*<div class="row panel">*@

            @*<div id="regions" class="col-xs-3">*@
                @*@Html.Action("Menu", "Nav")*@
            @*</div>*@
            <div class="mymain col-xs-12">
                @RenderBody()
            </div>
        @*</div>*@
    </div>

   

    @RenderSection("scripts", required: false)

</body>
</html>
