@model Web_UI.Models.SongsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

<!-- Navbar for desktop -->
<div id="start">
        <div class="navbar navbar-inverse bg-4 navbar-fixed-top hidden-xs hidden-sm">
            <div class="container bg-4">

                <div class="navbar-collapse collapse bg-4">
                    <ul class="nav navbar-nav">
                        <li><a class="scroll" href="#first">"Земля круглая"</a></li>
                        <li><a class="scroll" href="#second">"Закон притяжения"</a></li>
                        <li><a class="scroll" href="#video">Видео</a></li>
                        @{
                            if (Session["isLogIn"] != null && (bool)Session["isLogIn"] == true)
                            {
                                <li><a class="scroll" href="#accords">Тексты/Аккорды</a></li>
                                
                            }
                        }
                        
                        <li><a class="scroll" href="#about">О группе</a></li>
                    </ul>

                    @Html.Partial("_LoginPartial")   @*Авторизация*@

                </div>
            </div>
        </div>


    <!-- vertical navbar for mobiles and tablets -->
        <div class="navbar navbar-inverse navbar-static-top hidden-lg hidden-md hidden-print">
            <div class="container">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li class="text-left"><a class="scroll" href="#first">"Земля круглая"</a></li>
                    <li class="text-left"><a class="scroll" href="#second">"Закон притяжения"</a></li>
                    @{
                        if (Session["isLogIn"] != null && (bool)Session["isLogIn"] == true)
                        {
                            <li class="text-left"><a class="scroll" href="#accords">Тексты/Аккорды</a></li>
                        }
                    }
                    <li class="text-left"><a class="scroll" href="#about">О группе</a></li>
                </ul>

                @Html.Partial("_LoginPartial")   @*@Авторизация*@

            </div>
        </div>
</div>

@{
    if (TempData["registerSuccess"] != null)
    {
        <div style="color:forestgreen">
            @TempData["registerSuccess"]
        </div>
    }
}
@{
    if (TempData["passwordChange"] != null)
    {
        <div style="color:forestgreen">
            @TempData["passwordChange"]
        </div>
    }
}
          
 <!--  First Container -->
<div id="first" class="container-fluid bg-1 text-center">

    <hr />
    <h3>Земля круглая</h3>
    <hr />
    <div>
        @{
            foreach (var item in Model.Songs)
            {
                if (item.AlbumID == 1)
                {
                    <ul>
                        <li class="my-margin">
                            @*<a href="@item.PathToSong">@item.SongName</a>*@
                            @*<p>@item.SongName</p>*@
                            <a href="@item.ExternalReference">@item.SongName</a>
                        </li>
                    </ul>
                }
            }
        }
    </div>
    <hr />
</div>

<!-- Second Container -->

<div id="second" class="container-fluid bg-2 text-center">

    <hr />
    <h3>Закон притяжения</h3>
    <hr />
    @{
        foreach (var item in Model.Songs)
        {
            if (item.AlbumID == 2)
            {
                <ul>
                    <li class="my-margin">
                        @*<a href="@item.PathToSong">@item.SongName</a>*@
                        @*<p>@item.SongName</p>*@
                        <a href="@item.ExternalReference">@item.SongName</a>
                    </li>
                </ul>
            }
        }
    }
    <hr />

</div>


<!-- Third Container -->
@{
    if (Session["isLogIn"] != null && (bool)Session["isLogIn"] == true)
    {
        <div id="accords" class="container-fluid bg-1 text-info">

            <hr />
            <h3>Тексты и аккорды песен</h3>
            <hr />

            @{
                List<SelectListItem> list = new List<SelectListItem>();
                list.Add(new SelectListItem { Value = "0", Text = @"-- Выбор песни --", Selected = true });

                foreach (var item in Model.Songs)
                {
                    list.Add(new SelectListItem { Value = item.SongID.ToString(), Text = item.SongName });
                }
                @Html.DropDownList("songID", list, new { @class = "my-dropdown" });
            }

            <div id="Song">
                @*Ajax region*@
            </div>

            <hr />
        </div>
     }
}


<!-- Fourth Container -->
@{
    //if (Session["isLogIn"] != null && (bool)Session["isLogIn"] == true)
    //{

    //}
    <div id="video" class="container-fluid bg-1 text-center">
        <hr />
        <h3> Видео</h3>
        <hr />

        <iframe width="560" height="315" src="https://www.youtube.com/embed/m4q_j5nJI6A" frameborder="0" allowfullscreen></iframe>
                
    </div>
}



        <!-- Fifth Container (Grid) -->
        @{
            string colorStr = "";

            if (Session["isLogIn"] != null && (bool)Session["isLogIn"] == true)
            {
                colorStr = "container-fluid bg-2 text-info";
            }
            else
            {
                colorStr = "container-fluid bg-1 text-info";
            }

            <div id="about" class="@colorStr">

                <hr />
                <h3>О группе:</h3>
                <hr />

                <div>
                    <ul class="li-small my-margin">
                        <li>Год рождения - 1997г.</li>
                        <li>Место рождения - г. Перевальск, Луганская обл., Украина.</li>

                    </ul>

                    <hr />
                    <p>Состав:</p>
                    <ul class="li-small my-margin">
                        <li>Меркулов Дмитрий - вокал, гитара, автор музыки</li>
                        <li>Филоненко Дмитрий - бас-гитара, автор текстов</li>
                        <li>Янчук Олег - гитара, клавишные</li>
                        <li>Чередниченко Алексей - барабаны</li>
                    </ul>
                </div>
                <hr />
            </div>
        }

        <!-- Footer -->
        <footer class="container-fluid bg-4 text-center">
            <a class="scroll" href="#start"><p>Официальный сайт группы "МиФ"</p></a>
        </footer>
